     .container {
       width: 80%;
     }
     #navbar, #right {
       background-color: rgba(255, 255, 255, 0);
       position: fixed;
       left: 50%;
       transform: translateX(-50%);
       z-index: 2;
     }
     #navbar {
       top: 0;
     }
     #right {
       bottom: 0;
     }
     #righttext {
       padding: 20px;
       color: gray;
       font-size: 20px;
     }
     #home {
       text-decoration: none;
       font-size: 25px;
       color: black;
     }
     .linkref {
       //color: white;
       text-decoration: none;
       padding: 20px;
       font-size: 20px;
       color: black;
       border-bottom-style: solid;
       border-bottom-width: 2px;
       border-bottom-color: rgba(0, 0, 0, 0);
     }
     
     .navbarcontent {
       //background-color: yellow;
       padding: 30px;
     }
     #navbarbuttonpanel {
       position: absolute;
       right: 0;
       top: 0; //background-color: green;
     }
     #content {
       margin: auto;
       z-index: 1;
     }
     .onepage {
       height: 100vh; //background: blue;
       //border-style: solid;
       position: relative;
     }
     .heading, .paragraph, .image, .line {
       position: absolute;
     }
     .heading {
       font-size: 40px;
     }
     .paragraph {
       font-size: 20px;
     }
     .line {
       border-bottom-style: solid;
       border-bottom-width: 1px;
       border-bottom-color: black;
     }
     #heading1 {
       top: 30%;
       left: 45%;
     }
     #paragraph1 {
       top: 55%;
       left: 50%;
       width: 40%;
     }
     #image1 {
       //background-image: url('../img/dog.jpg');
       //background-repeat: no-repeat;
       //background-size: contain;
       top: 20%;
       left: 10%;
       //width: 30%;
       height: 50%;
     }
     #line1 {
       top: 48%;
       left: 30%;
       width: 40%;
     }
     #heading2 {
       top: 35%;
       left: 20%;
     }
     #paragraph2 {
       top: 55%;
       left: 10%;
       width: 35%;
     }
     #image2 {
       //background-image: url('../img/ckt.jpg');
       //background-repeat: no-repeat;
       //background-size: contain;
       top: 30%;
       left: 50%;
       //width: 40%;
       height: 35%;
     }
     #line2 {
       top: 50%;
       right: 40%;
       width: 25%;
     }
     #heading3 {
       top: 33%;
       left: 60%;
     }
     #paragraph3 {
       top: 57%;
       left: 52%;
       width: 30%;
     }
     #image3 {
       //background-image: url('../img/equations.jpg');
       //background-repeat: no-repeat;
       //background-size: contain;
       top: 30%;
       left: 16%;
       //width: 40%;
       height: 35%;
     }
     #line3 {
       top: 55%;
       left: 40%;
       width: 45%;
     }
